@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ------{Configurações gerais}----- */
:root{
    --color-styled: #f9a743;
    --font-color: #444444;
    --font-color-title: #3b4045;
    --font-main: 'Josefin Sans', sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: var(--font-main);
    -webkit-tap-highlight-color: transparent;
}
.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.hide{
    display: none;
}
h2{
    color: var(--font-color-title);
}
a{
    text-decoration: none;
}

/* ------{Header}----- */
header{
    height: 120px;
    display: flex;
    justify-content: center;
}
header .logo h1 {
    font-weight: 300;
}
header .logo a{
    text-decoration: none;
    color: #221919;
}
header .logo, .menu {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
header .menu nav ul{
    list-style: none;
    display: flex;
}
header .menu nav a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: 700;
}
header .menu nav a:hover{
    color: var(--color-styled);
}
header .menu .btn-mobile{
    display: none;
    margin-right: 10px;
    cursor: pointer;
}
header .menu .btn-mobile i{
    font-size: 2rem;
}
header .menu .btn-mobile i:hover{
    color: var(--color-styled);
}
main{
    border: 2px solid red;
}
/* Product */
#product{
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.product-container{
    justify-content: space-around;
}
#product .product-img {
    animation: moveFromLeft .8s ease-in-out forwards;
}
#product .product-details{
    max-width: 550px;
}
#product .product-details h2{
    font-size: 62px;
    margin-bottom: 0px;
}
#product .product-details p{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
}
.btn-main{
    padding: 15px 40px;
    border-radius: 30px;
    background-color: var(--color-styled);
    font-size: 1.1rem;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.btn-main:hover{
    transition: .5s;
    opacity: .9;
    transform: scale(1.1,1.1);
}
/* END product */

/* Details Features */
#details-features{
    padding: 50px;
}
#details-features h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 70px;
}
#details-features #features{
    display: flex;
    justify-content: center;
}
.container-features{
    justify-content: space-around;
    margin: 0 auto;
}
#details-features .box-features p{
    max-width: 350px;
    font-weight: 300;
}
#details-features .box-features{
    margin-bottom: 40px;
}
#details-features .title-features h3{
    margin-bottom: 0px;
    margin-top: 4px;
    font-size: 20px;
}
/* END Details Features */


/* Details designed */
#details-designed{
    background-color: var(--color-styled);
}
#details-designed, .apple{
    display: flex;
    justify-content: center;    
    padding: 90px;
}
.container-designed{
    justify-content: space-around;
}
.description{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
/* END Details designed */

/* Apple-details */
.apple-details{
    color: #221919;
    position: relative;
}
.reason{
    margin-top: 100px;
}
.reason h2{
    text-align: center;
    font-size: 40px;
}
.apple-details h2{
    text-align: left;
}
.description h2{
    font-size: 32px;
    line-height: 50px;
    margin: 0;
}
.description p{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.designed-img{
    width: 50%;
}
.designed-img img{
    display: block;
    margin: auto;
}
.apple-button{
    width: 100%;
}
.design-btn{
   display: inline-block;
}
.container-apple-bottom{
    flex-direction: row-reverse;
}
.apple-bottom{
    padding-top: 0px;
}
/* Apple-details */

/* Contact */
#contact{
    display: flex;
    justify-content: center;
    background-image: url('../img/call-to-action.jpg');
    background-size: 100%;
    background-position: center;
    height: 400px;
    /* filter: brightness(50%); */
}
.contact-box{
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-box .contact-text h2{
    text-align: center;
    font-size: 32px;
}
.contact-box .contact-text p{
    font-weight: 300;
    font-size: 18px;
}
.contact-form-box{
    max-width: 400px;
}
.contact-form-box form{
 display: flex;
}
.contact-form-box input{
    border: none;
    height: 50px;
    padding: 0px;
    padding-left: 20px;
}
.contact-form-box button{
border: none;
width: 100px;
height: 50px;
font-size: 18px;
}
.subscribe-btn{
margin: 0;
padding: 0;
border-radius: 0%;
}
/* END Contact */

/* Reviews */
.review-list{ 
    margin: auto;
    /* flex-wrap: wrap;
    width: 90%;
    border: 1px solid; */
}
#reviews h2{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}
.review-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.review-box{
    margin: 25px 25px;
    color: var(--font-color-title);
    line-height: 30px;
}
.review-profile{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-image img{
    width: 80px;
    border-radius: 50%;
}
.profile-name span{
    font-size: 25px;
    font-weight: 800;
}
.profile-job{
    font-weight: 300;
}
#reviews .review-button{
    display: block;
    margin: auto;
    margin-top: 80px;
}
/* END Reviews */


/* Footer */
footer {
    background-color:var(--font-color-title);
    color: #fff;
    padding: 20px 0;
    margin-top: 10rem ;
}
footer .footer-navbar {
    width: 90%;
    margin: auto;
}
footer .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
footer .menu ul {
    list-style: none;
    display: flex;
}
footer .menu li {
    margin-right: 20px;
}
footer .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
footer .menu a:hover {
    color: var(--color-styled);
}
/* END Footer */

/* Responsividade */
@media(max-width: 900px){
    .reason .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reason .apple{
        padding: 20px;
    }
    .reason .apple .description {
        width: 80%;
        margin: 1rem 0;
    }
    .reason .apple-button{
        margin: auto;
        text-align: center;
    }

    .review-list{
        flex-direction: column;
        width: 90%;
    }
}
@media(max-width: 800px){
    .product-container {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    #details-features h2{
        margin-top: 5rem;
        padding-bottom: 0;
    } 
    #details-designed{
        padding: 20px;
    }
    #details-designed .container-designed{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .btn-main {
        display: block;
        margin: auto;
    }

    .product-details h2 {
        font-size: 50px;
    }
    .description h2 {
        font-size: 20px;
    }
    .description p {
        font-size: 17px;
        line-height: 24px;
    }
    .description h2 {
        line-height: 25px;
    }
    .container-features{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .review-box{
        border-bottom: 1px solid #3b40452c;
    }
    .designed-img {
        width: 100%;
    }
    #details-features {
        padding: 0px 20px;
    }
    .description {
        width: 80%;
    }
     /* Text Center */
     .product-details h2, .product-details p, .description p , .text p{
        text-align: center;
    }

}
@media(max-width: 600px){
    header .menu nav ul :not(.btn-mobile){
        display: none;
    }
    header .menu .btn-mobile{ 
        display: block;
    }
    header  .menu nav ul{
        flex-direction: column;
        /* display: flex; */
        position: absolute;
        left: 0;
        background-color: white;
        width: 100%;
        padding: 0px;
        align-items: center;
        box-shadow: 0px 18px 15px rgb(0 0 0 / 23%);
    }
    footer .footer-navbar {
        flex-direction: column;
        align-items: center;
    }
    footer .menu{
        margin: 0;
    }
    footer .menu ul {
        flex-direction: column;
        gap: 2rem;
    }
    #product .product-details h2 {
        font-size: 50px;
    }
    .designed-img img {
        width: 70%;
    }
}
/* END Responsividade */

/* Animações */
@keyframes moveFromLeft {
    from {
      margin-right: 400px; /* Começa fora da tela à esquerda */
    }
    to {
        margin-right: 0px; /* Termina a 200px da esquerda (ajuste conforme necessário) */
    }
}
/* END Animações */